*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:  rgb(219, 219, 241);

}
a{
  text-decoration: none;
}
body{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  padding-left: 290px;
  padding-right: 290px;
}
h1{
  margin-top: 20px;
  font-family: 'Changa One', cursive;
  text-align: center;
  padding-top: 15px;
}
.gallery{
  color: rgb(90, 79, 184);
}
.subtitulo{
  font-family: cursive;
  font-size: 14px;
  margin-top: 4px;
  text-align: center;
}
.galeria{
  height: 100%;
  width: 100%;
  display: grid;
  gap: 8px;
  grid-template-areas: 
  "f1 f1 f1 f1 f1 f2 f2 f2 f3 f3 f3"
  "f1 f1 f1 f1 f1 f4 f4 f4 f5 f5 f5"
  "f6 f6 f6 f7 f7 f7 f8 f8 f8 f8 f8";
}
.foto{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
  
}
.foto:nth-child(1){
  grid-area: f1;
  background-image: url(https://lh3.googleusercontent.com/yU4ckchjXTIb2_mtFEnjdiGyN2QVG8Fa0qN03o3kPWorhKyW5Q3rYlwDhlI54OkZS-ICb3x09YNijkcTVp1CLvvnmhHTdwYS2vlDbSag);
}
.foto:nth-child(2){
  grid-area: f2;
  background-image: url(https://lh3.googleusercontent.com/_O076zJEZWTySMylWvay83FHsPmOz33L5UNRC1_IeCe2nc-vHXqS73NIaoDfeh3hwMSpQHpnE_UUXdwp8BLm_PU-oEYlZgEUfN-EVsMp);
  
}
.foto:nth-child(3){
  grid-area: f3;
  background-image: url(https://lh3.googleusercontent.com/jfHCx13ZCQ1TxSAxh8T4tOg4Is34mFEA7-WCMXtHOnrlrdtPQmLY8de-4SY6i9WWxX7WdaFIqEqyJFRFzX7O6LEgt0dkdO1hXiloem4U);
}
.foto:nth-child(4){
  grid-area: f4;
  background-image: url(https://lh3.googleusercontent.com/helccgOBSJ447zBy6PdnpucDonht4GpeZb4H1zxk86JxaN6TkILyAjpXkIPFqyxWwLB8V6noJheDd2pnBqWmCxuawYYjVngp89Zc025Y);

  
}
.foto:nth-child(5){
  grid-area: f5;
  background-image: url(https://lh3.googleusercontent.com/o7fjUkGFEhfIbHpplwViqVkPmH14HywBy0WHsZH4iNVCCCDE_RLuCcS5nupMvYyKUhuMj_-IMrm9qeLSs5o_XDWGqkjxbVSEEeQkuHiA-w);
}
.foto:nth-child(6){
  grid-area: f6;
  background-image: url(https://lh3.googleusercontent.com/G5VJlwdpAXuSewO5sXpgcvlho6pgXwobqlgrWPqWpKXeLGOrfGN155zIAsnWQgxvU_6X7Hq7JBS8RrdCGVmfMKUkfxNL2fl1ifC2waxl1w);
}
.foto:nth-child(7){
  grid-area: f7;
  background-image: url(https://lh3.googleusercontent.com/bfN8lw6h609aAKquFSsC0z8_iz6-KMjkkKCSQCG3MNBJnPsVlAG6CHR1cKXX2g93aEMvqW5jxfXVeaVMHL4brVqrwToO8mIcsQnKp2tS);
  
}
.foto:nth-child(8){
  grid-area: f8;
  background-image: url(https://lh3.googleusercontent.com/d5-RsAKhLlTFjtmGwklvIlNs-cujiLgOwoiFFU6UuLah5Vws6x7en13v_ZvR54LEpBX8nD6u4qZffYTrMxopSpJL1jGXJ50c-Be7vvw);
}
.legenda{
  position: absolute;
  width: 100%;
  height: 34px;
  background-color: #0009;
  color: white;
  bottom: 0;
  transform: translateY(100%);
  transition: .3s;
  text-align: center;
  padding-top: 10px ;

}
.foto:hover > .legenda{
  transform: translateY(0%);
}
footer{
  text-align: center;
  margin-top: 40px;
}
.button{
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: rgb(90, 79, 184);
}
.button:hover{
  cursor: pointer;
}
@media (max-width: 768px) {
  body{
      padding-left: 12px ;
      padding-right: 12px ;
  }
  .galeria{
  display: flex;
  flex-direction: column;
  }
  .foto{
      width: 100%;
      height: 33vh;
  }
}
  .linha{
    left: 620px;
    top: 70px;
    position: absolute;
    background-color: black;
    height: 3px;
    width: 30px;
  }